---
const currentYear = new Date().getFullYear();
---

<footer class="border-t border-slate-800 bg-slate-950">
  <div class="container py-8">
    <div class="flex justify-center">
      <p class="text-sm text-slate-500">
        &copy; {currentYear} Azka Al Azkiyai
      </p>
    </div>
  </div>
</footer>
